<!-- Boston is working on this-->
{% load static %}

{% block content %}
{% endblock %}

<!-- Boston is working on this-->
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div>
        <h3>Quote of the Day</h3>
        <div>
            <p>Being ignorant is not so much a shame, as being unwilling to learn.”</p>
            <p>- Benjamin Franklin</p>
        </div>
    </div>
    <!--Today's Workouts-->
    <div> 
    <h3>{{ day }}'s workout!</h3>
    <h4> {{ today_workout }} day: </h4>
    <ul>
    <li>Time: {{ time }} minutes</li>
    <li>Number of Workouts: {{ num_of_workouts }}</li>
    </ul>
    <h4> {{ workout }} ideas: </h4>
    {% for workout_idea in workout_ideas %}
    <ul>    
            <li> {{ workout_idea }}</li>
        </ul>
        {% endfor %}
    </ul>
    </div>
    <!-- Goals -->
    <div>
        <h3>Goals</h3>
        <form>
            {% for goal in goals %}
            <input type="checkbox" id="task1" name="task1" value="task1">
                <label>{{ goal }}</label>
                <br>
        {% endfor %}
    </form>
</div>
    <!-- Graph-->
<div>
       
    </div>
</body>
</html>