{% extends "aifit_app/navbar.html" %}

{% block title %}
Goals
{% endblock %}

{% block content %}
{% load static tailwind_tags %}
{% tailwind_css %}

<body class="bg-black"> 
<div class="flex flex-wrap justify-around h-screen">

  <!-- Daily Goals -->
  <div class="bg-light-green mx-2 mt-24 rounded" style="width: 28%; height: 65%; overflow: auto;">
    <div class="bg-dark-green m-0">
      <h1 class="text-3xl font-bold py-5 text-center text-light-gray">Daily Goals</h1>
    </div>
    <div class="row">
      <form action="add_goal/" method="post" class="flex flex-col px-10 py-5">
        {% csrf_token %}
        <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="Enter daily goal">
        <input type="hidden" name="type" value="daily">
        <button type="Submit" class="btn btn-primary bg-dark-green hover:text-light-gray text-white font-bold my-2 h-8">Add goal</button>
      </form>
    </div>
    <ul class="list-group pl-10">
      {% for goal in daily_goals %}
        <form action="{% url 'update_goal_completion' goal_id=goal.id %}" method="post">
          {% csrf_token %}
          <input type="checkbox" name="is_completed" class="w-5 h-5" value="true" 
          {% if goal.is_completed %}checked{% endif %} onchange="this.form.submit()">
          <label class="text-base">{{ goal.goal }}</label>
        </form>
      {% endfor %}
    </ul>
  </div>

  <!-- Weekly Goals -->
  <div class="bg-light-green mx-2 mt-24 rounded" style="width: 28%; height: 65%; overflow: auto;">
    <div class="bg-dark-green m-0">
      <h1 class="text-3xl font-bold py-5 text-center text-light-gray">Weekly Goals</h1>
    </div>
    <div class="row">
      <form action="add_goal/" method="post" class="flex flex-col px-10 py-5">
        {% csrf_token %}
        <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="Enter weekly goal">
        <input type="hidden" name="type" value="weekly">
        <button type="Submit" class="btn btn-primary bg-dark-green hover:text-light-gray text-white font-bold my-2 h-8">Add goal</button>
      </form>
    </div>
    <ul class="list-group pl-10">
      {% for goal in weekly_goals %}
      <form action="{% url 'update_goal_completion' goal_id=goal.id %}" method="post">
        {% csrf_token %}
        <input type="checkbox" name="is_completed" class="w-5 h-5" value="true" 
        {% if goal.is_completed %}checked{% endif %} onchange="this.form.submit()">
          <label class="text-base">{{ goal.goal }}</label>
      </form>
      {% endfor %}
    </ul>
  </div>

  <!-- Long-Term Goals -->
  <div class="bg-light-green mx-2 mt-24 rounded" style="width: 28%; height: 65%; overflow: auto;">
    <div class="bg-dark-green m-0">
      <h1 class="text-3xl font-bold py-5 text-center text-light-gray">Long-Term Goals</h1>
    </div>
    <div class="row">
      <form action="add_goal/" method="post" class="flex flex-col px-10 py-5">
        {% csrf_token %}
        <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="Enter long-term goal">
        <input type="hidden" name="type" value="long-term">
        <button type="Submit" class="btn btn-primary bg-dark-green hover:text-light-gray text-white font-bold my-2 h-8">Add goal</button>
      </form>
    </div>
    <ul class="list-group pl-10">
      {% for goal in longterm_goals %}
      <form action="{% url 'update_goal_completion' goal_id=goal.id %}" method="post">
        {% csrf_token %}
        <input type="checkbox" name="is_completed" class="w-5 h-5" value="true" 
        {% if goal.is_completed %}checked{% endif %} onchange="this.form.submit()">
          <label class="text-base">{{ goal.goal }}</label>
      </form>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
</body>
