{% extends "aifit_app/navbar.html" %}

{% block title %}
 Goals
{% endblock %}

{% block content %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Goals</title>
      {% tailwind_css %}
  </head>
  <body class="bg-black">
    <div class="bg-light-green max-w-xl m-auto m-8 mt-10 rounded">
      <!-- Weekly progress bar -->
      <div id="weeklyProgressBar" class="flex bg-light-gray w-full h-4 overflow-hidden font-sans text-xs font-medium rounded-t flex-start ">
        <div class="flex bg-dark-green items-center justify-center w-0 h-full overflow-hidden text-white break-all rounded-t">
          0% Complete
        </div>  
      </div>  
      <div class="bg-dark-green m-0">
        <h1 class="text-3xl font-bold py-5 text-center text-light-gray">Weekly Goals</h1>
      </div>
      <form method="post" class="flex flex-col px-10 py-5">
        {% csrf_token %}
        <button type="button" id="addButton1" class="bg-light-gray hover:bg-dark-green hover:text-light-gray text-white font-bold my-2 h-8">Add goal</button>
        <!-- h-12 w-12 absolute bottom-0 right-0">+< -->
        <div id="inputContainer1"></div>
        <ul id="inputList1"></ul>
      </form>
    </div>

    <div class="bg-light-green max-w-xl m-auto m-8 mt-20 rounded mt-800">
      <!-- Overall progress bar  -->
      <div id="overallProgressBar" class="flex bg-light-gray w-full h-4 overflow-hidden font-sans text-xs font-medium rounded-t flex-start ">
        <div class="flex bg-dark-green items-center justify-center w-0 h-full overflow-hidden text-white break-all rounded-t">
          0% Complete
        </div>
      </div>  
      <div class="bg-dark-green m-0">
        <h1 class="text-3xl font-bold py-5 text-center text-light-gray">Overall Goals</h1>
      </div>
      <form method="post" class="flex flex-col px-10 py-5">
        {% csrf_token %}
        <button type="button" id="addButton2" class="bg-light-gray hover:bg-dark-green hover:text-light-gray text-white font-bold my-2 h-8">Add goal</button>
        <!-- h-12 w-12 absolute bottom-0 right-0">+< -->
        <div id="inputContainer2"></div>
        <ul id="inputList2"></ul>
      </form>
    </div>
    <script>

      function updateCompletion(container, list, progressBarId) {
        var completionElement = document.getElementById(progressBarId).querySelector('.flex .bg-dark-green');
        var list = document.getElementById(list);
        var progressBar = document.getElementById(progressBarId)
        var completion = (list.childElementCount > 0) ? (list.querySelectorAll('input[type="checkbox"]:checked').length / list.childElementCount) * 100 : 0;

         // Update progress bar text and fill
        completionElement.textContent = completion.toFixed(0) + '% Complete';
        completionElement.style.width = completion.toFixed(0) + '%';
        console.log("Updating completion...");
      }
    
      function addGoal(containerId, listId, progressBarId) {
        var input = document.createElement("input");
        input.type = "text";
        input.id = "typeGoal";
        input.name = "Goal";
        input.value = "";

        var inputContainer = document.createElement("div");
        inputContainer.style.width = "300px";
        inputContainer.appendChild(input);
        document.getElementById(containerId).appendChild(inputContainer);

        var list = document.getElementById(listId);

        input.addEventListener("keydown", function (event) {
          if (event.keyCode === 13) {
            event.preventDefault();

            var checklistContainer = document.createElement("div");

            var checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.id = "goalCheckbox" + (list.childElementCount + 1);
            checkbox.className = "form-checkbox h-5 w-5 text-light-green";
            checkbox.name = "goal";

            var label = document.createElement("label");
            label.htmlFor = checkbox.id;
            label.className = "m-2 text-light-gray";
            label.textContent = input.value;

            checklistContainer.appendChild(checkbox);
            checklistContainer.appendChild(label);

            list.appendChild(checklistContainer);

            inputContainer.remove();
            input.value = "";

            checkbox.addEventListener("change", function () {
                updateCompletion(document.querySelector('.bg-light-green'), listId, progressBarId);
            });

            // Update completion when a goal is added
            updateCompletion(document.querySelector('#weeklyProgressBar'), 'inputList1', 'weeklyProgressBar');
            updateCompletion(document.querySelector('#overallProgressBar'), 'inputList2', 'overallProgressBar');
          }
        });
      }
      // Weekly Goals
      document.getElementById("addButton1").addEventListener("click", function () {
          addGoal("inputContainer1", "inputList1", "weeklyProgressBar");
      });

      // Overall Goals
      document.getElementById("addButton2").addEventListener("click", function () {
          addGoal("inputContainer2", "inputList2", "overallProgressBar");
      });
      
    </script>
  </body>
</html>
{% endblock %}
