{% extends "aifit_app/navbar.html" %}
{% load static %}

{% block title %}
 Graph
{% endblock %}

{% block content %}
 graph
 <h1>Muscle Mass & Body Fat</h1>

 <canvas id="myChart" width="300" height="100"></canvas>

 <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
 <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
 <script type="text/javascript">
     $.get('{% url "line_chart_json" %}', function(data) {
        var chartData = {
            labels: data.labels,
            datasets: [{
                label: 'Muscle Mass',
                data: data.muscle_mass_percentage,
                borderColor: 'blue',
                backgroundColor: 'rgba(0, 0, 255, 0.1)'
            },
            {
                label: 'Body Fat Percentage',
                data: data.body_fat_percentage,
                borderColor: 'red',
                backgroundColor: 'rgba(255, 0, 0, 0.1)'
            }]
    };

    var ctx = $("#myChart").get(0).getContext("2d");
    new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    stepSize: 1
                }
            }]
        }
    }
    });
    });
 </script>
{% endblock %}